<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098704654937-et8a6jnl70290o2apqiejsanh5cf1ba1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098704654937-et8a6jnl70290o2apqiejsanh5cf1ba1</string>
	<key>API_KEY</key>
	<string>AIzaSyCvJ-MC_ZZLmdSyHR7jhkJOWNYdDUaDfGk</string>
	<key>GCM_SENDER_ID</key>
	<string>1098704654937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chuday.testMessager</string>
	<key>PROJECT_ID</key>
	<string>testmessager-782ff</string>
	<key>STORAGE_BUCKET</key>
	<string>testmessager-782ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098704654937:ios:5e2363dadccbc2f9e8d748</string>
</dict>
</plist>